* {
    margin: 0;
    padding: 0;
    font-family: 'Times Roman', sans-serif;
    box-sizing: border-box;
}
body {
    background: #6b97de;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600ppx;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px
}
.app h1{
    font-size: 60px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px; 
}
.quiz{
    padding: 40px 40p;
}
.quiz h2{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 900;
    width: 100%;
    border: 1px solid #222;
    padding: 30px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background:#222;
    color: #fff;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 700;
    width: 200px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #5dda93;
}
.incorrect{
    background: #d11e1e;
}
